* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  padding: 0;
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px 0 10px;
}
.slogan-new {
  border-bottom: 1px solid #e1e1e1;
  padding: 10px 0;
}
.box-search .reform {
  padding: 10px 10px;
  margin-top: 0px;
  border-radius: 25px;
  color: #333;
  box-shadow: none;
  height: 15px;
  border: 1px solid #e1e1e1;
  width: 300px;
}
.box-search .deform .search {
  border: none;
  padding-right: 20px;
}
.deform {
  position: relative;
}
.box-search .deform .icon {
  border: none;
  position: absolute;
  background-color: transparent;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.education .book {
  height: 36px;
  line-height: 36px;
  background-color: #f7941d;
  padding: 0 13px;
  border-radius: 40px;
  display: inline-block;
  border: none;
}
.education .book .graduation-cap p {
  color: white;
  font-weight: 700;
  font-size: 14px;
  padding: 0 13px;
}
.education .book a {
  color: #fff;
  display: inline-block;
  border: none;
}
.education .book span {
  font-weight: 700;
  font-size: 14px;
}
.container-right {
  display: flex;
  gap: 10px;
}
.container-fluid {
  text-align: center;
  width: 100%;
}
.header .container-fluid {
  padding: 0;
  display: flex !important;
  justify-content: center;
}
.container-fluid .navbar {
  margin-right: auto;
  margin-left: auto;
}
.menu-mobile {
  text-align: center;
  width: 100%;
}
.level-1 {
  list-style: none;
}
.level-1 img {
  width: 100%;
  height: 100%;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.level-1-link {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 17px;
}
.nav {
  background-color: #f7941d;
  height: 40px;
  margin: 20px 0;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  gap: 20px;
}
ul {
  display: flex;
}
.main {
  padding: 0 10px;
}
.introduce {
  text-decoration: none;
}
.text-title {
  padding: 0 0 20px 0;
}
.main-content {
  width: 1200px;
  margin: 0 auto;
}
.panel {
  border-radius: 5px;
  border: 1px solid #ebebeb;
  padding: 5px 20px;
  background: #f7f7f7;
  margin-top: 17px;
}
.panel-heading {
  display: block;
  padding: 5px 28px 5px 0;
  position: relative;
}
.library {
  margin-top: 45px;
  width: 1200px;
  margin: 0 auto;
  margin-top: 45px;
}
.shop {
  color: #f7941d;
  font-size: 14px;
  right: 0;
  bottom: 0;
  width: 160px;
  text-decoration: none;
  margin-left: 893px;
}
.list-course {
  margin-top: 20px !important;
}
.main-course {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.main-course .course {
  border: 1px solid #ededed;
}
a {
  text-decoration: none;
  color: black;
}
.course .image {
  width: 100%;
  height: 150px;
}
.course .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box-star i {
  text-decoration: none;
  color: #fec165;
}
.clearfix {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #999;
}
.content {
  padding: 20px;
}
.content a {
  font-size: 14px;
  color: #111;
  line-height: 1.4;
  font-weight: 700;
  display: block;
}
.box-star {
  display: flex;
  align-items: center;
}
.box-star .overflow {
  font-size: 11px;
  color: #666;
  line-height: 18px;
  margin: 20px 0;
}
.price.old {
  text-decoration: line-through;
  font-size: 14px;

  text-transform: uppercase;
  margin: 5px 0 0;
  font-weight: 600;
}
.price.text-right span {
  color: #f7941d;
  font-size: 14px;
}
footer {
  padding: 30px 0;
  background: #2c3e50;
  font-size: 16px;
  color: #f7941d;
  margin-top: 40px;
}
.footer-main,
.copyright-content {
  max-width: 1170px;
  padding-left: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer-left {
  flex: 2;
}
.footer-left-list {
  margin-top: 20px;
  color: white;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.footer-center {
  flex: 1;
}
.footer-title a {
  font-size: 18px;
  margin: 0 0 20px !important;
  color: #fff;
  padding-bottom: 3px;
  border-bottom: 1px solid #999;
  text-shadow: none;
  display: inline-block;
  cursor: pointer;
}
.footer-center-text {
  color: #fff;
  font-weight: 400;
  line-height: 1.4;
  margin: 0 0 15px;
  display: block;
}
.footer-right {
  flex: 2;
}
.copyright {
  background: #233140;
  border-top: none;
  padding: 14px 0;
}
.copyright .copyright-content {
  color: white;
}
.footer-right .phone {
  color: white;
}
.footer-right .email .link {
  color: orange;
}
.footer-center .footer-title {
  color: white;
  display: flex;
}
.copyright .copyright-content {
  line-height: 22px;
  margin-bottom: 0;
  font-size: 12px;
}
.social-media i {
  color: white;
}
.footer-left-list li a {
  color: white;
}
.socila-media p {
  color: white;
}
